<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lyrics</key>
	<array>
		<dict>
			<key>jp</key>
			<string>余命数か月ばかりの恋に　点滴で扶養する患者達</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>被害者の甘い期待を弔い　悔悟の機会を躊躇うドクター</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>所以など行方知らず　未知の病巣に臥す患者達</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>発熱が死因　然れば早期に　躊躇すべきだったと知る放火犯</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>この心に穴が空いたくらいなのに　たったそれだけの違いなのに</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>貴方の背中に滲んでく涙痕が　枯れそうもないのはどうしてなの</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>病名は愛だった　病名は愛だった</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>病名は愛だった　病名は愛だった</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>今はもはや持ち腐れの恋に　些事な延命を乞う患者達</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>加害者の荒い治療に耐えたい　伴侶たる者はと覚るペイシェント </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>赤い糸を固結び　故に首を絞め合う患者達 </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>呼吸が出来ない　然れど解けない　本旨に反す麻酔に縋っている</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>ただ心の溝をそっと覆いたくて　たったそれだけの違いなのに </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>どのガーゼを充てたとしても代えられない　貴方の温もりを待っている</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>病名は愛だった　病名は愛だった</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>病名は愛だった　病名は愛だった</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>美しい嘘に騙されて　会に合わぬ花に成り果てて </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>緩やかに迫る死期ですら　フィナーレのように見違える </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>浅ましい夢に化かされて　不例な病に祟られて </string>
		</dict>
		<dict>
			<key>jp</key>
			<string>息も絶え絶えな恋心　その死に目を綴った</string>
		</dict>
		<dict>
			<key>jp</key>
			<string>「病名は愛だった」</string>
		</dict>
	</array>
	<key>version</key>
	<string>0</string>
</dict>
</plist>
