<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lyrics</key>
	<array>
		<dict>
			<key>jp</key>
			<string>「NO.1にならなくてもいい　もともと特別なOnly　one」</string>
			<key>word</key>
			<dict>
				<key>19</key>
				<array>
					<string>特別</string>
					<string>とくべつ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>花屋の店先に並んだ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>花屋</string>
					<string>はなや</string>
				</array>
				<key>3</key>
				<array>
					<string>店先</string>
					<string>みせさき</string>
				</array>
				<key>6</key>
				<array>
					<string>並</string>
					<string>なら</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>いろんな花を見ていた</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>6</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ひとそれぞれ好みはあるけど</string>
			<key>word</key>
			<dict>
				<key>6</key>
				<array>
					<string>好</string>
					<string>この</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どれもみんなきれいだね</string>
			<key>word</key>
			<dict>
				<key>-1</key>
				<array>
					<string></string>
					<string></string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>この中で誰が一番だなんて</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>4</key>
				<array>
					<string>誰</string>
					<string>だれ</string>
				</array>
				<key>6</key>
				<array>
					<string>一番</string>
					<string>いちばん</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>争うこともしないで</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>争</string>
					<string>あらそ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>バケツの中誇らしげに</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>5</key>
				<array>
					<string>誇</string>
					<string>ほこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>しゃんと胸を張っている</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>胸</string>
					<string>むね</string>
				</array>
				<key>6</key>
				<array>
					<string>張</string>
					<string>は</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>それなのに僕ら人間は</string>
			<key>word</key>
			<dict>
				<key>5</key>
				<array>
					<string>僕</string>
					<string>ぼく</string>
				</array>
				<key>7</key>
				<array>
					<string>人間</string>
					<string>にんげん</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どうしてこうも比べたがる?</string>
			<key>word</key>
			<dict>
				<key>7</key>
				<array>
					<string>比</string>
					<string>くら</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一人一人違うのにその中で</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一人一人</string>
					<string>ひとりひとり</string>
				</array>
				<key>10</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>4</key>
				<array>
					<string>違</string>
					<string>ちが</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一番になりたがる?</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一番</string>
					<string>いちばん</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>そうさ　僕らは</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>僕</string>
					<string>ぼく</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>世界に一つだけの花</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>世界</string>
					<string>せかい</string>
				</array>
				<key>3</key>
				<array>
					<string>一</string>
					<string>ひと</string>
				</array>
				<key>8</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一人一人違う種を持つ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一人一人</string>
					<string>ひとりひとり</string>
				</array>
				<key>4</key>
				<array>
					<string>違</string>
					<string>ちが</string>
				</array>
				<key>6</key>
				<array>
					<string>種</string>
					<string>たね</string>
				</array>
				<key>8</key>
				<array>
					<string>持</string>
					<string>も</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>その花を咲かせることだけに</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>4</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一生懸命になればいい</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一生懸命</string>
					<string>いっしょうけんめい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>困ったように笑いながら</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>困</string>
					<string>こま</string>
				</array>
				<key>6</key>
				<array>
					<string>笑</string>
					<string>わら</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ずっと迷ってる人がいる</string>
			<key>word</key>
			<dict>
				<key>3</key>
				<array>
					<string>迷</string>
					<string>まよ</string>
				</array>
				<key>7</key>
				<array>
					<string>人</string>
					<string>ひと</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>頑張って咲いた花はどれも</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>頑張</string>
					<string>がんば</string>
				</array>
				<key>4</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
				<key>7</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>きれいだから仕方ないね</string>
			<key>word</key>
			<dict>
				<key>6</key>
				<array>
					<string>仕方</string>
					<string>しかた</string>
				</array>
				<key>7</key>
				<array>
					<string></string>
					<string></string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>やっと店から出てきた</string>
			<key>word</key>
			<dict>
				<key>3</key>
				<array>
					<string>店</string>
					<string>みせ</string>
				</array>
				<key>6</key>
				<array>
					<string>出</string>
					<string>で</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>その人が抱えていた</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>人</string>
					<string>ひと</string>
				</array>
				<key>4</key>
				<array>
					<string>抱</string>
					<string>かか</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>色とりどりの花束と</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>色</string>
					<string>いろ</string>
				</array>
				<key>6</key>
				<array>
					<string>花束</string>
					<string>はなたば</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>うれしそうな横顔</string>
			<key>word</key>
			<dict>
				<key>6</key>
				<array>
					<string>横顔</string>
					<string>よこがお</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>名前も知らなかったけれど</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>名前</string>
					<string>なまえ</string>
				</array>
				<key>3</key>
				<array>
					<string>知</string>
					<string>し</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>あの日僕に笑顔をくれた</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>3</key>
				<array>
					<string>僕</string>
					<string>のく</string>
				</array>
				<key>5</key>
				<array>
					<string>笑顔</string>
					<string>えがお</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>誰も気づかないような場所で</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>誰</string>
					<string>だれ</string>
				</array>
				<key>10</key>
				<array>
					<string>場所</string>
					<string>ばしょ</string>
				</array>
				<key>2</key>
				<array>
					<string>気</string>
					<string>き</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>咲いてた花のように</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
				<key>4</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>そうさ　僕らも</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>僕</string>
					<string>ぼく</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>世界に一つだけの花</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>世界</string>
					<string>せかい</string>
				</array>
				<key>3</key>
				<array>
					<string>一</string>
					<string>ひと</string>
				</array>
				<key>8</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一人一人違う種を持つ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一人一人</string>
					<string>ひとりひとり</string>
				</array>
				<key>4</key>
				<array>
					<string>違</string>
					<string>ちが</string>
				</array>
				<key>6</key>
				<array>
					<string>種</string>
					<string>たね</string>
				</array>
				<key>8</key>
				<array>
					<string>持</string>
					<string>も</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>その花を咲かせることだけに</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>4</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一生懸命になればいい</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一生懸命</string>
					<string>いっしょうけんめい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>小さい花や大きな花</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>小</string>
					<string>ちい</string>
				</array>
				<key>3</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>5</key>
				<array>
					<string>大</string>
					<string>おお</string>
				</array>
				<key>8</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>一つとして同じものはないから</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>一</string>
					<string>ひと</string>
				</array>
				<key>5</key>
				<array>
					<string>同</string>
					<string>おな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>NO.1にならなくてもいい</string>
			<key>word</key>
			<dict>
				<key>-1</key>
				<array>
					<string></string>
					<string></string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>もともと特別なOnly　one</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>特別</string>
					<string>とくべつ</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<string>1</string>
</dict>
</plist>
