<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lyrics</key>
	<array>
		<dict>
			<key>jp</key>
			<string>孤独なふりをしてるの?</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>孤独</string>
					<string>こどく</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>なぜだろう　気になっていた</string>
			<key>word</key>
			<dict>
				<key>6</key>
				<array>
					<string>気</string>
					<string>き</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>気づけば　いつのまにか</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>気</string>
					<string>き</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>誰より　惹かれていた</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>誰</string>
					<string>だれ</string>
				</array>
				<key>4</key>
				<array>
					<string>惹</string>
					<string>ひ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どうすれば　この心は　鏡に映るの？</string>
			<key>word</key>
			<dict>
				<key>11</key>
				<array>
					<string>鏡</string>
					<string>かがみ</string>
				</array>
				<key>13</key>
				<array>
					<string>映</string>
					<string>ひ</string>
				</array>
				<key>8</key>
				<array>
					<string>心</string>
					<string>こころ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>届かない恋をしていても　映しだす日がくるかな</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>届</string>
					<string>とど</string>
				</array>
				<key>12</key>
				<array>
					<string>映</string>
					<string>うつ</string>
				</array>
				<key>16</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>4</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ぼやけた答えが　見え始めるまでは</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>始</string>
					<string>はじ</string>
				</array>
				<key>4</key>
				<array>
					<string>答</string>
					<string>こた</string>
				</array>
				<key>8</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>今もこの恋は　動き出せない</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>今</string>
					<string>いま</string>
				</array>
				<key>4</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
				<key>7</key>
				<array>
					<string>動</string>
					<string>うご</string>
				</array>
				<key>9</key>
				<array>
					<string>出</string>
					<string>だ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>初めて声をかけたら　振り向いてくれたあの日</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>初</string>
					<string>はじめ</string>
				</array>
				<key>10</key>
				<array>
					<string>振</string>
					<string>ふ</string>
				</array>
				<key>12</key>
				<array>
					<string>向</string>
					<string>む</string>
				</array>
				<key>20</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>3</key>
				<array>
					<string>声</string>
					<string>こえ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>あなたは　眩しすぎて　まっすぐ見れなかった</string>
			<key>word</key>
			<dict>
				<key>15</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>5</key>
				<array>
					<string>眩</string>
					<string>まぶ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どうすれば　その心に　私を写すの?</string>
			<key>word</key>
			<dict>
				<key>11</key>
				<array>
					<string>私</string>
					<string>わたし</string>
				</array>
				<key>13</key>
				<array>
					<string>写</string>
					<string>うつ</string>
				</array>
				<key>8</key>
				<array>
					<string>心</string>
					<string>こい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>叶わない恋をしていても　写しだす日がくるかな</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>叶</string>
					<string>かな</string>
				</array>
				<key>12</key>
				<array>
					<string>写</string>
					<string>うつ</string>
				</array>
				<key>16</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>4</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ぼやけた答えが　少しでも見えたら</string>
			<key>word</key>
			<dict>
				<key>12</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>4</key>
				<array>
					<string>答</string>
					<string>こた</string>
				</array>
				<key>8</key>
				<array>
					<string>少</string>
					<string>すこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>きっとこの恋は　動き始める</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>始</string>
					<string>はじ</string>
				</array>
				<key>5</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
				<key>8</key>
				<array>
					<string>動</string>
					<string>うご</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どうすれば　この心は　鏡に映るの?</string>
			<key>word</key>
			<dict>
				<key>11</key>
				<array>
					<string>鏡</string>
					<string>かがみ</string>
				</array>
				<key>13</key>
				<array>
					<string>映</string>
					<string>うつ</string>
				</array>
				<key>8</key>
				<array>
					<string>心</string>
					<string>こころ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>届かない恋をしていても　映しだす日がくるかな</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>届</string>
					<string>とど</string>
				</array>
				<key>12</key>
				<array>
					<string>映</string>
					<string>うつ</string>
				</array>
				<key>16</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>4</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ぼやけた答えが　見え始めるまでは</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>始</string>
					<string>はじ</string>
				</array>
				<key>4</key>
				<array>
					<string>答</string>
					<string>こた</string>
				</array>
				<key>8</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>今もこの恋は　動き出せない</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>今</string>
					<string>いま</string>
				</array>
				<key>4</key>
				<array>
					<string>恋</string>
					<string>こい</string>
				</array>
				<key>7</key>
				<array>
					<string>動</string>
					<string>うご</string>
				</array>
				<key>9</key>
				<array>
					<string>出</string>
					<string>だ</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<string>0</string>
</dict>
</plist>
