<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lyrics</key>
	<array>
		<dict>
			<key>jp</key>
			<string>上る月が　君を照らす</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>上</string>
					<string>のぼ</string>
				</array>
				<key>2</key>
				<array>
					<string>月</string>
					<string>つき</string>
				</array>
				<key>5</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>7</key>
				<array>
					<string>照</string>
					<string>て</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>微かに瞳が揺らいだ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>微</string>
					<string>かす</string>
				</array>
				<key>3</key>
				<array>
					<string>瞳</string>
					<string>ひとみ</string>
				</array>
				<key>5</key>
				<array>
					<string>揺</string>
					<string>ゆ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>どんな夢も　終わりが来る</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>来</string>
					<string>く</string>
				</array>
				<key>3</key>
				<array>
					<string>夢</string>
					<string>ゆめ</string>
				</array>
				<key>6</key>
				<array>
					<string>終</string>
					<string>お</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>儚き運命</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>儚</string>
					<string>はかな</string>
				</array>
				<key>2</key>
				<array>
					<string>運命</string>
					<string>さだめ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>誰も時の流れに逆らえず</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>誰</string>
					<string>だれ</string>
				</array>
				<key>2</key>
				<array>
					<string>時</string>
					<string>とき</string>
				</array>
				<key>4</key>
				<array>
					<string>流</string>
					<string>なが</string>
				</array>
				<key>7</key>
				<array>
					<string>逆</string>
					<string>さか</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>何がを残して散ってゆくから</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>何</string>
					<string>なに</string>
				</array>
				<key>3</key>
				<array>
					<string>残</string>
					<string>のこ</string>
				</array>
				<key>6</key>
				<array>
					<string>散</string>
					<string>ち</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>凍りついた季節が動きだす</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>凍</string>
					<string>こお</string>
				</array>
				<key>5</key>
				<array>
					<string>季節</string>
					<string>きせつ</string>
				</array>
				<key>8</key>
				<array>
					<string>動</string>
					<string>うご</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>音も立てずに　また君を見つめて</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>音</string>
					<string>おと</string>
				</array>
				<key>11</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>2</key>
				<array>
					<string>立</string>
					<string>た</string>
				</array>
				<key>9</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>あの月のような　あの花のような　命がいま</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>16</key>
				<array>
					<string>命</string>
					<string>いのち</string>
				</array>
				<key>2</key>
				<array>
					<string>月</string>
					<string>つき</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>こんなにも輝いてるから</string>
			<key>word</key>
			<dict>
				<key>5</key>
				<array>
					<string>輝</string>
					<string>かがや</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>君の心は語り続ける</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>2</key>
				<array>
					<string>心</string>
					<string>こころ</string>
				</array>
				<key>4</key>
				<array>
					<string>語</string>
					<string>かた</string>
				</array>
				<key>6</key>
				<array>
					<string>続</string>
					<string>つづ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>時の中に　残されたものを　拾い集め</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>時</string>
					<string>とき</string>
				</array>
				<key>13</key>
				<array>
					<string>拾</string>
					<string>ひろ</string>
				</array>
				<key>15</key>
				<array>
					<string>集</string>
					<string>あつ</string>
				</array>
				<key>2</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>5</key>
				<array>
					<string>残</string>
					<string>のこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>また君と巡り会いたい</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>4</key>
				<array>
					<string>巡</string>
					<string>めぐ</string>
				</array>
				<key>6</key>
				<array>
					<string>会</string>
					<string>あ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>風の中ですべり落ちた</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>風</string>
					<string>かぜ</string>
				</array>
				<key>2</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>7</key>
				<array>
					<string>落</string>
					<string>お</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>木の葉をこの手に包んで</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>木</string>
					<string>こ</string>
				</array>
				<key>2</key>
				<array>
					<string>葉</string>
					<string>は</string>
				</array>
				<key>6</key>
				<array>
					<string>手</string>
					<string>て</string>
				</array>
				<key>8</key>
				<array>
					<string>包</string>
					<string>つつ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>遠い想い　ひとつしまった　</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>遠</string>
					<string>とお</string>
				</array>
				<key>2</key>
				<array>
					<string>想</string>
					<string>おも</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>静かな夜明け</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>静</string>
					<string>しずか</string>
				</array>
				<key>3</key>
				<array>
					<string>夜明</string>
					<string>よあ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>あの月のように　あの花のように　生きてみたい</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>花</string>
					<string>はな</string>
				</array>
				<key>16</key>
				<array>
					<string>生</string>
					<string>い</string>
				</array>
				<key>2</key>
				<array>
					<string>月</string>
					<string>つき</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>君が語りかけた奇跡を</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>2</key>
				<array>
					<string>語</string>
					<string>かた</string>
				</array>
				<key>7</key>
				<array>
					<string>奇跡</string>
					<string>きせき</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>伝えるために歌い続けよう</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>伝</string>
					<string>つた</string>
				</array>
				<key>6</key>
				<array>
					<string>歌</string>
					<string>うた</string>
				</array>
				<key>8</key>
				<array>
					<string>続</string>
					<string>つづ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>いつかどこかで　生まれた想いが　繋がるとき</string>
			<key>word</key>
			<dict>
				<key>12</key>
				<array>
					<string>想</string>
					<string>おも</string>
				</array>
				<key>16</key>
				<array>
					<string>繋</string>
					<string>つな</string>
				</array>
				<key>8</key>
				<array>
					<string>生</string>
					<string>う</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>また君と巡り会いたい</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>4</key>
				<array>
					<string>巡</string>
					<string>めぐ</string>
				</array>
				<key>6</key>
				<array>
					<string>会</string>
					<string>あ</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<string>0</string>
</dict>
</plist>
