<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lyrics</key>
	<array>
		<dict>
			<key>jp</key>
			<string>あの日見渡した渚を　今も思い出すんだ</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>今</string>
					<string>いま</string>
				</array>
				<key>12</key>
				<array>
					<string>思</string>
					<string>おも</string>
				</array>
				<key>14</key>
				<array>
					<string>出</string>
					<string>だ</string>
				</array>
				<key>2</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>3</key>
				<array>
					<string>見渡</string>
					<string>みわた</string>
				</array>
				<key>7</key>
				<array>
					<string>渚</string>
					<string>たぎさ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>砂の上に刻んだ言葉　君の後ろ姿</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>砂</string>
					<string>すな</string>
				</array>
				<key>10</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>12</key>
				<array>
					<string>後</string>
					<string>うし</string>
				</array>
				<key>14</key>
				<array>
					<string>姿</string>
					<string>すがた</string>
				</array>
				<key>2</key>
				<array>
					<string>上</string>
					<string>うえ</string>
				</array>
				<key>4</key>
				<array>
					<string>刻</string>
					<string>きざ</string>
				</array>
				<key>7</key>
				<array>
					<string>言葉</string>
					<string>ことば</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>寄り返す波が　足元をよぎり何かを攫う</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>寄</string>
					<string>よ</string>
				</array>
				<key>13</key>
				<array>
					<string>何</string>
					<string>なに</string>
				</array>
				<key>16</key>
				<array>
					<string>攫</string>
					<string>さら</string>
				</array>
				<key>2</key>
				<array>
					<string>返</string>
					<string>かえ</string>
				</array>
				<key>4</key>
				<array>
					<string>波</string>
					<string>なみ</string>
				</array>
				<key>7</key>
				<array>
					<string>足元</string>
					<string>あしもと</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>夕凪の中　日暮れだけが通り過ぎて行く</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>夕凪</string>
					<string>ゆうなぎ</string>
				</array>
				<key>11</key>
				<array>
					<string>通</string>
					<string>とお</string>
				</array>
				<key>13</key>
				<array>
					<string>過</string>
					<string>す</string>
				</array>
				<key>16</key>
				<array>
					<string>行</string>
					<string>い</string>
				</array>
				<key>3</key>
				<array>
					<string>中</string>
					<string>なか</string>
				</array>
				<key>5</key>
				<array>
					<string>日暮</string>
					<string>ひぐ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>パッと光って咲いた　花火を見ていた</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>花火</string>
					<string>はなび</string>
				</array>
				<key>13</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>3</key>
				<array>
					<string>光</string>
					<string>ひか</string>
				</array>
				<key>6</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>きっとまだ　終わらない夏が</string>
			<key>word</key>
			<dict>
				<key>-1</key>
				<array>
					<string>夏</string>
					<string>なつ</string>
				</array>
				<key>6</key>
				<array>
					<string>終</string>
					<string>お</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>曖昧な心を　解かして繋いだ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>曖昧</string>
					<string>あいまい</string>
				</array>
				<key>10</key>
				<array>
					<string>繋</string>
					<string>つな</string>
				</array>
				<key>3</key>
				<array>
					<string>心</string>
					<string>こころ</string>
				</array>
				<key>6</key>
				<array>
					<string>解</string>
					<string>と</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>この夜が　続いて欲しかった</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>夜</string>
					<string>よる</string>
				</array>
				<key>5</key>
				<array>
					<string>続</string>
					<string>つづ</string>
				</array>
				<key>8</key>
				<array>
					<string>欲</string>
					<string>ほ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>「あと何度君と同じ花火を見られるかな」って</string>
			<key>word</key>
			<dict>
				<key>12</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>3</key>
				<array>
					<string>何度</string>
					<string>なんど</string>
				</array>
				<key>5</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>7</key>
				<array>
					<string>同</string>
					<string>おな</string>
				</array>
				<key>9</key>
				<array>
					<string>花火</string>
					<string>はなび</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>笑う顔に何ができるだろうか</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>笑</string>
					<string>わら</string>
				</array>
				<key>2</key>
				<array>
					<string>顔</string>
					<string>かお</string>
				</array>
				<key>4</key>
				<array>
					<string>何</string>
					<string>なに</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>傷つくこと　喜ぶこと　繰り返す波と情動</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>傷</string>
					<string>きず</string>
				</array>
				<key>11</key>
				<array>
					<string>繰</string>
					<string>く</string>
				</array>
				<key>13</key>
				<array>
					<string>返</string>
					<string>かえ</string>
				</array>
				<key>15</key>
				<array>
					<string>波</string>
					<string>なみ</string>
				</array>
				<key>17</key>
				<array>
					<string>情動</string>
					<string>じょうどう</string>
				</array>
				<key>6</key>
				<array>
					<string>喜</string>
					<string>よろこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>焦燥　最終列車の音</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>焦燥</string>
					<string>しょうそう</string>
				</array>
				<key>3</key>
				<array>
					<string>最終</string>
					<string>さいしゅう</string>
				</array>
				<key>5</key>
				<array>
					<string>列車</string>
					<string>れっしゃ</string>
				</array>
				<key>8</key>
				<array>
					<string>音</string>
					<string>おと</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>何度でも　言葉にして君を呼ぶよ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>何度</string>
					<string>なんど</string>
				</array>
				<key>10</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>12</key>
				<array>
					<string>呼</string>
					<string>よ</string>
				</array>
				<key>5</key>
				<array>
					<string>言葉</string>
					<string>ことば</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>波間を選び　もう一度</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>波間</string>
					<string>なみ</string>
				</array>
				<key>3</key>
				<array>
					<string>選</string>
					<string>えら</string>
				</array>
				<key>8</key>
				<array>
					<string>一度</string>
					<string>いちど</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>もう二度と悲しまずに済むように</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>済</string>
					<string>す</string>
				</array>
				<key>2</key>
				<array>
					<string>二度</string>
					<string>にど</string>
				</array>
				<key>5</key>
				<array>
					<string>悲</string>
					<string>かな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>はっと息を飲めば　消えちゃいそうな光が</string>
			<key>word</key>
			<dict>
				<key>17</key>
				<array>
					<string>光</string>
					<string>ひかり</string>
				</array>
				<key>3</key>
				<array>
					<string>息</string>
					<string>いき</string>
				</array>
				<key>5</key>
				<array>
					<string>飲</string>
					<string>の</string>
				</array>
				<key>9</key>
				<array>
					<string>消</string>
					<string>き</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>きっとまだ　胸に住んでいた</string>
			<key>word</key>
			<dict>
				<key>6</key>
				<array>
					<string>胸</string>
					<string>むね</string>
				</array>
				<key>8</key>
				<array>
					<string>住</string>
					<string>す</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>手を伸ばせば触れた　あったかい未来は</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>手</string>
					<string>て</string>
				</array>
				<key>15</key>
				<array>
					<string>未来</string>
					<string>みらい</string>
				</array>
				<key>2</key>
				<array>
					<string>伸</string>
					<string>の</string>
				</array>
				<key>6</key>
				<array>
					<string>触</string>
					<string>ふ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>ひそかに二人を見ていた</string>
			<key>word</key>
			<dict>
				<key>4</key>
				<array>
					<string>二</string>
					<string>ふたり</string>
				</array>
				<key>7</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>パッと花火が</string>
			<key>word</key>
			<dict>
				<key>3</key>
				<array>
					<string>花火</string>
					<string>はなび</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>夜に咲いた</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>夜</string>
					<string>よる</string>
				</array>
				<key>2</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>夜に咲いて</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>夜</string>
					<string>よる</string>
				</array>
				<key>2</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>静かに消えた</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>静</string>
					<string>しず</string>
				</array>
				<key>3</key>
				<array>
					<string>消</string>
					<string>き</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>離さないで</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>離</string>
					<string>はな</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>もう少しだけ</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>少</string>
					<string>すこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>もう少しだけ</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>少</string>
					<string>すこ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>このままで</string>
			<key>word</key>
			<dict>
				<key>-1</key>
				<array>
					<string></string>
					<string></string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>あの日見渡した渚を　今も思い出すんだ</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>今</string>
					<string>いま</string>
				</array>
				<key>12</key>
				<array>
					<string>思</string>
					<string>おも</string>
				</array>
				<key>14</key>
				<array>
					<string>出</string>
					<string>だ</string>
				</array>
				<key>2</key>
				<array>
					<string>日</string>
					<string>ひ</string>
				</array>
				<key>3</key>
				<array>
					<string>見渡</string>
					<string>みわた</string>
				</array>
				<key>7</key>
				<array>
					<string>渚</string>
					<string>なぎさ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>砂の上に刻んだ言葉　君の後ろ姿</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>砂</string>
					<string>すな</string>
				</array>
				<key>10</key>
				<array>
					<string>君</string>
					<string>きみ</string>
				</array>
				<key>12</key>
				<array>
					<string>後</string>
					<string>うし</string>
				</array>
				<key>14</key>
				<array>
					<string>姿</string>
					<string>すがた</string>
				</array>
				<key>2</key>
				<array>
					<string>上</string>
					<string>うえ</string>
				</array>
				<key>4</key>
				<array>
					<string>刻</string>
					<string>きざ</string>
				</array>
				<key>7</key>
				<array>
					<string>言葉</string>
					<string>ことば</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>パッと光って咲いた　花火を見ていた</string>
			<key>word</key>
			<dict>
				<key>10</key>
				<array>
					<string>花</string>
					<string>はなび</string>
				</array>
				<key>13</key>
				<array>
					<string>見</string>
					<string>み</string>
				</array>
				<key>3</key>
				<array>
					<string>光</string>
					<string>ひか</string>
				</array>
				<key>6</key>
				<array>
					<string>咲</string>
					<string>さ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>きっとまだ　終わらない夏が</string>
			<key>word</key>
			<dict>
				<key>11</key>
				<array>
					<string>夏</string>
					<string>なつ</string>
				</array>
				<key>6</key>
				<array>
					<string>終</string>
					<string>お</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>曖昧な心を　解かして繋いだ</string>
			<key>word</key>
			<dict>
				<key>0</key>
				<array>
					<string>曖昧</string>
					<string>あいまい</string>
				</array>
				<key>10</key>
				<array>
					<string>繋</string>
					<string>つな</string>
				</array>
				<key>3</key>
				<array>
					<string>心</string>
					<string>こころ</string>
				</array>
				<key>6</key>
				<array>
					<string>解</string>
					<string>と</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>jp</key>
			<string>この夜が　続いて欲しかった</string>
			<key>word</key>
			<dict>
				<key>2</key>
				<array>
					<string>夜</string>
					<string>よる</string>
				</array>
				<key>5</key>
				<array>
					<string>続</string>
					<string>つづ</string>
				</array>
				<key>8</key>
				<array>
					<string>欲</string>
					<string>ほ</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<string>2</string>
</dict>
</plist>
